*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts */

  --font-overpass: "Overpass", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;

  /* Colors */

  /* Primary */
  --color-light-red: hsl(356, 100%, 66%); /* CTA text */
  --color-very-light-red: hsl(355, 100%, 74%); /* CTA hover background */
  --color-very-dark-blue: hsl(208, 49%, 24%); /* headings */

  /* Neutral */
  --color-white: hsl(0, 0%, 100%); /* text */
  --color-grayish-blue: hsl(240, 2%, 79%); /* footer text */
  --color-very-dark-grayish-blue: hsl(207, 13%, 34%); /* body copy */
  --color-very-dark-black-blue: hsl(240, 10%, 16%); /* footer background */

  /* Gradient */

  /* Background gradient - Intro/CTA mobile nav */
  --grad-color-very-light-red: hsl(13, 100%, 72%);
  --grad-color-light-red: hsl(353, 100%, 62%);

  /* Background gradient - body */
  --grad-color-very-dark-gray-blue: hsl(237, 17%, 21%);
  --grad-color-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

body {
  font-family: var(--font-ubuntu);
}

/* Global */
h1,
h2,
h3,
.intro-subtitle {
  font-family: var(--font-overpass);
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.mobile {
  display: none;
}

/* Header */
.intro {
  background: url(./images/bg-pattern-intro.svg) no-repeat 25%,
    linear-gradient(
      to left,
      var(--grad-color-light-red),
      var(--grad-color-light-red),
      var(--grad-color-very-light-red)
    );
  background-size: 200%;
  border-bottom-left-radius: 5em;
  min-height: 85vh;
  padding: 3em;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 4em;
  font-weight: 500;
  font-size: 0.9rem;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2em;
}

.nav-link {
  color: var(--color-white);
}

.inner-nav-list {
  display: none;
}

.nav-actions-list {
  display: flex;
  align-items: center;
  gap: 2em;
  color: var(--color-white);
}

.signup,
.primary-cta {
  width: 8em;
  color: var(--color-light-red);
  background-color: var(--color-white);
  text-align: center;
  padding: 0.8em;
  border-radius: 3em;
  text-transform: capitalize;
  font-weight: 500;
}

.icon-arrow {
  margin-bottom: 0.1em;
}

.intro-title {
  color: var(--color-white);
  font-size: 3.5rem;
  text-align: center;
  margin-top: 2em;
}

.intro-subtitle {
  color: var(--color-white);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.8em;
}

.btn-group {
  text-align: center;
  margin-top: 2.5em;
}

.secondary-cta {
  color: var(--color-white);
  border: 1px solid var(--color-white);
  width: 8em;
  text-align: center;
  padding: 0.8em;
  border-radius: 3em;
  margin-left: 0.8em;
  font-weight: 500;
}

/* Future Design */
.future-design {
  padding: 10em 0 15em;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.section-title {
  font-size: 2.2rem;
  color: var(--color-very-dark-blue);
  text-align: center;
}

.future-design .section-img-wrapper {
  position: absolute;
  top: 4em;
  right: -18em;
}

.future-design .section-img-wrapper img {
  width: 100%;
}

.future-design .section-body {
  margin-top: 5em;
  width: 40%;
}

.section-body li {
  margin-bottom: 4em;
}

.section-body h3 {
  color: var(--color-very-dark-blue);
  margin-bottom: 1em;
  font-size: 1.6rem;
}

.section-body p {
  line-height: 1.8;
  color: var(--color-very-dark-grayish-blue);
  font-size: 0.9rem;
}

/* Infrastructure */
.infrastructure {
  position: relative;
  background-color: var(--color-very-dark-blue);
  min-height: 60vh;
  border-radius: 0 5em 0;
}

.infrastructure img {
  width: 100%;
}

.circles-pattern-wrapper {
  position: absolute;
  left: -14em;
  bottom: -5em;
}

.infrastructure .section-img-wrapper {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}

.test {
  position: absolute;
  min-height: 60vh;
  inset: 0;
  overflow: hidden;
}

.infrastructure .container {
  display: flex;
  justify-content: flex-end;
}

.infrastructure .section-body {
  margin-top: 7em;
  width: 50%;
}

.infrastructure .section-body p {
  color: var(--color-white);
  padding-right: 7em;
}

.infrastructure .section-body h3 {
  font-size: 2.2rem;
  color: var(--color-white);
  margin-bottom: 0.5em;
}
